.task-note {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    transition: 0.1s;
}

.task-active {
    background-color: yellow;
}

.task-done {
    background-color: orange;
    opacity: 0.7;
}

.task-note-text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.icon-disabled {
    opacity: 50%;
    cursor: not-allowed;
}

@media (max-width: 1200px) {
    .task-note {
        width: 40%;
    }
}
@media (max-width: 700px) {
    .task-note {
        width: 95%;
    }
}